*
.*
!*/
!.git/
!.gitea/
!.gitea/issue_template/
!.gitea/workflows/
!.gitea/workflows/*.yaml
!.gitea/template
!src/
!src/**

.vscode/
target/
Cargo.lock

!*.rs
!*.txt
!Cargo.toml
!*.py
!.gitignore
!.gitattributes
!*.md
